# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=property-360
DB_PORT=5432

# Application
API_PORT=3000

# Prisma (conexão local fora do Docker)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/property-360?schema=public

# JWT
JWT_ACCESS_SECRET=aaaa
JWT_REFRESH_SECRET=bbb
