<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'UPLOAD.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <input type="file" accept="image/*" hidden #fileInput (change)="onFileSelected($event)">

  <ion-list inset="true">
    <ion-list-header>
      <ion-label>{{ 'UPLOAD.PROPERTY_SECTION' | translate }}</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-input
        [(ngModel)]="title"
        [label]="'UPLOAD.PROPERTY_TITLE_LABEL' | translate"
        labelPlacement="floating"
        type="text"
        autocomplete="off">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-select
        [(ngModel)]="type"
        [label]="'UPLOAD.PROPERTY_TYPE_LABEL' | translate"
        labelPlacement="floating">
        @for (t of propertyTypes; track t) {
          <ion-select-option [value]="t">{{ ('UPLOAD.TYPE.' + t) | translate }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select
        [(ngModel)]="purpose"
        [label]="'UPLOAD.PROPERTY_PURPOSE_LABEL' | translate"
        labelPlacement="floating">
        @for (p of purposes; track p) {
          <ion-select-option [value]="p">{{ ('UPLOAD.PURPOSE.' + p) | translate }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list inset="true">
    <ion-list-header>
      <ion-label>{{ 'UPLOAD.IMAGES_TITLE' | translate }}</ion-label>
    </ion-list-header>

    @for (panorama of panoramas; track panorama.fileName + panorama.roomName; let i = $index) {
      <ion-item>
        <ion-label>
          <h3>{{ panorama.roomName }}</h3>
          <p>{{ panorama.fileName }}</p>
        </ion-label>
        <ion-button slot="end" fill="clear" color="danger" (click)="removePanorama(i)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    } @empty {
      <ion-item lines="none">
        <ion-label color="medium">{{ 'UPLOAD.NO_IMAGES' | translate }}</ion-label>
      </ion-item>
    }

    <ion-item button detail="false" (click)="openFilePicker()">
      <ion-icon slot="start" name="add-circle-outline" color="primary"></ion-icon>
      <ion-label color="primary">{{ 'UPLOAD.ADD_IMAGE' | translate }}</ion-label>
    </ion-item>
  </ion-list>

  <div class="submit-container">
    @if (panoramas.length > 0) {
      <ion-button expand="block" fill="outline" (click)="openPreview()">
        <ion-icon slot="start" name="eye-outline"></ion-icon>
        {{ 'UPLOAD.PREVIEW' | translate }}
      </ion-button>
    }
    <ion-button expand="block" [disabled]="!canSubmit" (click)="onSubmit()">
      @if (submitting) {
        <ion-spinner name="crescent" slot="start"></ion-spinner>
        {{ 'UPLOAD.SUBMITTING' | translate }}
      } @else {
        {{ 'UPLOAD.SUBMIT' | translate }}
      }
    </ion-button>
  </div>
</ion-content>

<ion-modal [isOpen]="isPreviewOpen" (didDismiss)="isPreviewOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ 'UPLOAD.PREVIEW' | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="isPreviewOpen = false">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-panoramic-viewer [panoramas]="previewPanoramas"></app-panoramic-viewer>
    </ion-content>
  </ng-template>
</ion-modal>
